{
    "cache": false,
    "check-coverage": true,
    "extension": [
        ".ts"
    ],
    "include": [
        "src/**/*.js",
        "src/**/*.ts"
    ],
    "exclude": [
        "coverage/**",
        "node_modules/**",
        "src/database/**",
        "**/*.d.ts",
        "**/*.test.ts"
    ],
    "sourceMap": false,
    "reporter": [
        "text-summary",
        "lcovonly"
    ],
    "all": true,
    "instrument": true
}