{
    "extends": "@istanbuljs/nyc-config-typescript",
    "reporter": [
        "text",
        "text-summary",
        "lcovonly"
    ],
    "all": true,
    "include": [
        "src/**/*.ts"
    ]
}